#include <os2.h>

DLGTEMPLATE 666 LOADONCALL
BEGIN
  DIALOG "ANIMATE Screen Saver", 666, 0, 0, 121, 61, 
         FS_NOBYTEALIGN | FS_DLGBORDER | WS_SAVEBITS, FCF_TITLEBAR
  BEGIN
    DEFPUSHBUTTON "OK", 1, 13, 4, 38, 13, WS_GROUP | WS_VISIBLE
    CONTROL "Cancel", 2, 70, 4, 38, 13, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE
    AUTOCHECKBOX "Screen Saver enabled", 3, 7, 44, 108, 10, WS_GROUP |
                 WS_VISIBLE
    LTEXT "Timeout", 256, 5, 28, 37, 8, DT_VCENTER | WS_VISIBLE
    LTEXT "seconds", 257, 79, 28, 39, 8, DT_VCENTER | WS_VISIBLE
    CONTROL "", 4, 46, 28, 28, 8, WC_ENTRYFIELD, ES_LEFT | ES_MARGIN |
            WS_GROUP | WS_TABSTOP | WS_VISIBLE
  END
END

